.container {
  width: 100%;
  height: 100%;

  .title {
    background-image: linear-gradient(
      to right,
      #29abe2,
      #86bced,
      #bbd0f4,
      #e2e6f9,
      #ffffff
    );

    h1 {
      padding: 15px 0 15px 0;
      font-size: 50px;
      font-weight: bolder;
      border-top: #29abe2 solid 1.5px;
      border-bottom: #29abe2 solid 1.5px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;

    .column1 {
      display: inline-block;
      width: 30%;
      margin-left: 15px;
    }

    .vertical-line {
      border: 1px solid black;
    }

    .column2 {
      display: inline-block;
      width: 70%;
      margin-left: 15px;
    }
  }
}
