<div class="container">
  <div class="first">
    <img class="logo" src="../../../assets/logo.png" alt="Logotipo completo" />
  </div>
  <div class="second">
    <h1>GameShare</h1>
    <div style="width: 420px">
      <div class="form">
        <div class="profile-img">
          <img
            width="120"
            height="120"
            [src]="profileImageSrc ?? '../../../assets/profile_placeholder.png'"
            alt="Imagen de perfil"
            class="center"
          />
          <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <input
          #inputField
          type="file"
          (change)="onFileSelected($event)"
          hidden
        />

        <input
          [formControl]="email"
          type="text"
          placeholder="Correo electrónico"
          #userEmail
          required
        />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          {{ getErrorMessage(email) }}
        </mat-error>

        <input
          [formControl]="username"
          type="text"
          placeholder="Nombre de usuario"
          #userName
          required
        />
        <mat-error
          *ngIf="username.invalid && (username.dirty || username.touched)"
        >
          {{ getErrorMessage(username) }}
        </mat-error>

        <input
          [formControl]="password"
          type="password"
          placeholder="Contraseña"
          #userPassword
          required
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          {{ getErrorMessage(password) }}
        </mat-error>

        <button
          mat-button
          [disabled]="email.invalid || password.invalid || username.invalid"
          (click)="
            signUp(
              userEmail.value,
              userPassword.value,
              userName.value,
              inputField.files[0]
            )
          "
        >
          Regístrate
        </button>
        <p class="login-link">
          ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a>
        </p>
      </div>
    </div>
  </div>
</div>
