<div class="container">
  <div class="first">
    <img class="logo" src="../../../assets/logo.png" alt="Logotipo completo" />
  </div>
  <div class="second">
    <h1>GameShare</h1>
    <div style="width: 420px">
      <div class="form">
        <div class="profile-img">
          <img
            width="120"
            height="120"
            [src]="profileImageSrc ?? '../../../assets/profile_placeholder.png'"
            alt="Imagen de perfil"
            class="center"
          />
          <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <input
          #inputField
          type="file"
          (change)="onFileSelected($event)"
          hidden
        />
        <input
          type="text"
          placeholder="Correo electrónico"
          #userEmail
          required
        />
        <input type="text" placeholder="Nombre de usuario" #userName required />
        <input
          type="password"
          placeholder="Contraseña"
          #userPassword
          required
        />
        <button
          mat-button
          (click)="
            signUp(
              userEmail.value,
              userPassword.value,
              userName.value,
              inputField.files[0]
            )
          "
        >
          Regístrate
        </button>
      </div>
    </div>
  </div>
</div>
