.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-and-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.large-search {
  width: 100%;
}

.filter-fields{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
