<div class="container">
  <div class="first">
    <img class="logo" src="../../../assets/logo.png" alt="Logotipo completo" />
  </div>
  <div class="second">
    <h1>GameShare</h1>
    <div style="width: 420px">
      <div class="form">
        <input
          type="text"
          placeholder="Correo electrónico"
          #userName
          required
        />
        <input
          type="password"
          placeholder="Contraseña"
          #userPassword
          required
        />
        <button
          mat-button
          (click)="authService.SignIn(userName.value, userPassword.value)"
        >
          Inicia sesión
        </button>
        <p
          style="
            font-weight: 200;
            font-size: 13px;
            color: gray;
            padding-top: 10px;
          "
        >
          Y si no tienes cuenta...
        </p>
        <button mat-button (click)="registerUser()">Regístrate</button>
      </div>
    </div>
  </div>
</div>
