.container {
  margin: 20px;

  .game-list {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;
    overflow: auto;
  }

  h2 {
    color: #29abe2;
    border-bottom: 1px solid #29abe2;
    text-align: left;
    font-size: 30px;
  }
}
