<div class="container">
  <mat-card>
    <div class="photo">
      <img
        mat-card-image
        src="{{ game.imagenPortada }}"
        alt="Portada de {{ game.titulo }}"
      />
    </div>
    <mat-card-footer>
      <div class="title">{{ game.titulo }}</div>
    </mat-card-footer>
    <div class="horizontal-line"></div>
    <mat-card-actions>
      <ng-container *ngIf="jugando[game.uid]; else addButton">
        <mat-select
          [(ngModel)]="jugando[game.uid]"
          (selectionChange)="changeEstado(game, $event.value)"
        >
          <mat-option
            *ngFor="let estado of Object.values(EstadoJuego)"
            [value]="estado"
          >
            {{ estado }}
          </mat-option>
        </mat-select>
      </ng-container>
      <ng-template #addButton>
        <button mat-button (click)="addToList(game)">
          + AÑADIR A LA LISTA
        </button>
      </ng-template>
      <button mat-button (click)="getGameInfo()">Más info.</button>
    </mat-card-actions>
  </mat-card>
</div>
