.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #29abe2;
  font-size: 2em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

mat-form-field {
  width: 70%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: column;
}

.custom-button {
  background-color: #29abe2;
  color: white;
  margin: 15px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
