<div class="container">
  <div class="title">
    <h1>{{ game.titulo }}</h1>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="column1">
      <div class="photo">
        <span class="helper"></span
        ><img
          mat-card-image
          src="{{ game.imagenPortada }}"
          alt="Portada de {{ game.titulo }}"
        />
      </div>
    </div>
    <div class="vertical-line"></div>
    <div class="column2">
      <p>PRUEBA</p>
    </div>
  </div>
</div>
